# macOS
.DS_Store
**/.DS_Store

# CMake build outputs
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# JUCE/IDE artefacts
*_artefacts/
JuceLibraryCode/
.DS_Store
build/
